<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

        {% if title %}
            <title>Finalized Dashboard - {{ title }}</title>
        {% else %}
            <title>Finalized Dashboard</title>
        {% endif %}

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

     <!-- Untuk script update database -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
     <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <!-- Judul Dashboard -->
        <div class="text-decoration-none text-secondary">
            <h1 class="text-center text-capitalize display-4 my-3">
                Medical Appointment - No Show Behavior
            </h1>
            <h3 class="text-center my-3">
                Final Project JSDS - Gloria Aprilia
            </h3>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item font-weight-bold">
                    <a class="nav-link text-dark lead" href="{{url_for('insights_fn', nav=True)}}">Overview</a>
                </li>
                <li class="nav-item font-weight-bold">
                    <a class="nav-link text-dark lead" href="{{url_for('data_fn', nav=True)}}">See The Data</a>
                </li>
                <li class="nav-item font-weight-bold">
                    <a class="nav-link text-dark lead" href="{{url_for('cat_fn', nav=True)}}">Distribution Plot</a>
                </li>
                <li class="nav-item font-weight-bold">
                    <a class="nav-link text-dark lead" href="{{url_for('pie_fn')}}">Count Plot</a>
                </li>
                <li class="nav-item font-weight-bold">
                    <a class="nav-link text-dark lead" href="{{url_for('predict_fn')}}">Prediction</a>
                </li>
            </ul>
            
        </div>
        
        {% block content %} {% endblock %}
    </div>
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plots.js') }}"></script>
</body>
</html>