{% extends 'index.html' %} 

{% block content %}

    <div>
        <img src="https://res.cloudinary.com/dk0z4ums3/image/upload/v1546416912/attached_image/medical-check-up-karyawan-ini-yang-harus-anda-ketahui-alodokter.jpg" style="width:1120px;"/>
        <br/>
        <br/>
        <h2>have you ever..</h2>            
        <h1>CANCELLED MEDICAL APPOINTMENT</h1>
        <h2>without informing the healthcare staff?</h2>
        <br/>

        <h4>
            In the scope of the medical system, cancellation refers to patients who are aware that they cannot keep the appointment and inform the health care staff at least 24 hours before the scheduled appointment. Not to be used interchangeably with cancellation, the word ‘no show’ refers to patients who silently fail to attend a scheduled medical appointment. This term is further extended for those who cancel the appointment within 24 hours before the scheduled appointment.
            <br/>
            <br/>

            For better understanding the situation, let us just imagine this scenario: 
            <i>a cloudy morning, you find yourself suffering dizziness when you just wake up. You rashly call the nearest healthcare center to get medical treatment. Unfortunately, the medical staff says that the only available appointment slot is in two days. You agree to book the slot because you think you really need to be examined. The next day, you start wondering, “Why do I get dizzy for so long? Is it normal? What if it is not? What if this is the symptoms of brain cancer? Or meningitis?”. You scroll through the search result page of google that lists up the possible disease you might suffer. Yes, you get the information— and leave fears creeping on your mind. On the D-day of the appointment, suddenly you think, “I just don’t want to go to the doctor. I’m scared they might tell me something, some bad news. Withal, somehow I feel better today, no need to see a doc..”. And you end up failing the appointment.</i>
        </h4>
        <br/>
        <h3>Problem With Healthcare System</h3>
        <ul>
            <li>No show case reaches nearly 20% of total appointment</li>
            <li>Hospital’s revenue loss, approximately BRL6,177,120 (USD1,153,718) a month</li>
            <li>Doctor salary loss</li>
            <li>Patient treatment delay, that may lead to more severe illness</li>
        </ul>
        <br/>
        <h3>Problem With Healthcare System</h3>
        <ul>
            <li>No show case reaches nearly 20% of total appointment</li>
            <li>Hospital’s revenue loss, approximately BRL6,177,120 (USD1,153,718) a month</li>
            <li>Doctor salary loss</li>
            <li>Patient treatment delay, that may lead to more severe illness</li>
        </ul>
    </div>

{% endblock %}