{% extends 'index.html' %} {% block content %}
<center>

    <form method="POST" action="http://127.0.0.1:5000/result">
        <br>
        <p><b>Predict A Patient</b></p>
        <div class="input-group mb-3" style="width: 500px">
            <span class="input-group-text" style="width: 250px">Appointment Date:</span>
            <input type="date" id="appt_date" name="appt_date" style="width: 250px">
        </div>
        <div class="input-group mb-3" style="width: 500px">
            <span class="input-group-text" style="width: 250px">Age:</span>
            <input type="number" name="age" step="1" min="0" max="200" style="width: 250px" id="bill" class="form-control" required=True/>
        </div>
        <div class="input-group mb-3" style="width: 500px">
            <span class="input-group-text" style="width: 250px">Scholarship:</span>
            <select name="scholarship" style="width: 250px" class="form-control" required="required">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        </div>
        <div class="input-group mb-3" style="width: 500px">
            <span class="input-group-text" style="width: 250px">Hypertension:</span>
            <select name="hypertension" style="width: 250px" class="form-control" required="required">
            <option value="1" >Yes</option>
            <option value="0">No</option>
        </select>
        </div>
        <div class="input-group mb-3" style="width: 500px">
            <span class="input-group-text" style="width: 250px">Diabetes:</span>
            <select name="diabetes" style="width: 250px" class="form-control" required="required">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        </div>
        <div class="input-group mb-3" style="width: 500px">
            <span class="input-group-text" style="width: 250px">Send Reminder Through SMS?</span>
            <select name="sms_received" style="width: 250px" class="form-control" required="required">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
        <br>
        <div style="display:block;">
        <button 
            type="submit"
            style="background-color: rgb(4,122,133); color: whitesmoke" 
            class="btn"
        >
            Predict
        </button>
        </div>
    </form>
    <br>
</center>
{% endblock %}